.header {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    max-width: 375px;
}
*{
     margin: 0rem;
}


.we {
    
     text-align: center;
    max-width: 340px;
    color: rgb(152,108,192);
    padding: 20px;
}
.p1 {

    font-family: 'Josefin Sans', sans-serif;
    max-width: 340px;
    color: rgb(152,108,192) ;
    padding:20px;
    text-align: center;

}
.emails{
     max-width: 340px;
    border-radius: 10.5rem;
    padding: 10px;
    text-align: center;
    
}
