.header {
    padding-left: 0px;
    padding-right: 1000px;

    
}
*{
    margin: 0rem;
    font-family: 'Josefin Sans', sans-serif;
    font-size: medium;
}


@media (min-width: 300px) and (max-width: 812px) {

.we {
    color: rgb(152,108,192);
    padding-top: 40px;
}
.p{
    
    color: rgb(152,108,192);
}
.h1{
    text-align: center;
    color: black;
}
.size{
    border-radius: 1.5rem;
    padding: 2vh;
}
footer{
    position: relative;
}